.product-card-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border: 2px solid rgb(0 0 0 / 10%);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
  cursor: pointer;
  position: relative;
}
.card-img {
  aspect-ratio: 4/2;
  object-fit: cover;
}
.card-items {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0.8rem;
}
.card-titles {
  font-weight: 800;
  font-size: 0.9rem;
}
.card-descs {
  font-size: 0.8rem;
}
.card-prices {
  font-weight: 950;
  font-size: 0.9rem;
  color: red;
}
.card-buton {
  padding: 0.8rem;
  text-align: center;
  background-color: rgb(34, 92, 201);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.edit-delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.edit-delete-btn > button {
  cursor: pointer;
}
